In [11]:
#basic libraries import
import pandas as pd
import numpy as np

In [51]:
data=pd.read_csv("MB1ASGCC1LRFE0185_2020-6-17_2020-06-19.csv",parse_dates=['obu_timestamp'])

In [52]:
data.reset_index(level=0, inplace=True)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Columns: 120 entries, index to fuel_level
dtypes: datetime64[ns](1), float64(106), int64(9), object(4)
memory usage: 2.5+ MB

In [54]:
data.tail(5)

,index,S_No,obu_id,obu_timestamp,packet_sequence_id,p_frequency,latitude,longitude,altitude,heading,...,aft1_intake_nox,aft1_intake_nox_reading_stable,aft1_intermediate_gas,dpf1_regen_needed,low_adblue_level_warning,eng_requested_torque_limit,pf_actreginh_dueto,aftertreatment1_outlet_nox,vin,fuel_level
2766,2766,2767,2001241034,2020-06-18 09:59:00,20590,6.0,12.403523,76.827287,704.64,0,...,255.5,1.0,0.3,0.0,0.0,-125.0,0.0,1.1,MB1ASGCC1LRFE0185,77.7
2767,2767,2768,2001241034,2020-06-18 09:59:00,20591,6.0,12.403342,76.827284,703.09,0,...,153.7,1.0,0.4,0.0,0.0,-125.0,0.0,3.0,MB1ASGCC1LRFE0185,77.7
2768,2768,2769,2001241034,2020-06-18 09:59:00,20592,6.0,12.403249,76.827276,702.68,0,...,198.1,1.0,0.4,0.0,0.0,-125.0,0.0,-0.3,MB1ASGCC1LRFE0185,77.7
2769,2769,2770,2001241034,2020-06-18 09:59:00,20593,6.0,12.403229,76.827271,701.38,0,...,213.1,1.0,0.3,0.0,0.0,-125.0,0.0,0.1,MB1ASGCC1LRFE0185,77.7
2770,2770,2771,2001241034,2020-06-18 09:59:00,20594,6.0,12.403220,76.827241,700.60,0,...,216.2,1.0,0.3,0.0,0.0,-125.0,0.0,0.6,MB1ASGCC1LRFE0185,77.7

In [55]:
data['ignition_status'].value_counts()

1    2266
0     505
Name: ignition_status, dtype: int64

In [56]:
#from IPython.core.debugger import set_trace

In [66]:
trip_id=1
Trip_info=[]
start_index=0
stop_index=0
rows=0
x=0
for rows in data.index:
    
        for rows in data.index[start_index:]:
            #set_trace()
            if(data['ignition_status'].iloc[rows]== 1):
                start_index=data['index'].iloc[rows]
                for x in data.index[rows:]:
                    if(data['ignition_status'].iloc[x]==0):
                        stop_index = data['index'].iloc[x]
                        break
                if(start_index<=stop_index):
                    Trip_info_temp=[trip_id,start_index,stop_index]
                    Trip_info.append(Trip_info_temp)
                    start_index=stop_index
                    trip_id +=1
                else:
                    break
                break

print(Trip_info)

[[1, 0, 97], [2, 108, 124], [3, 144, 179], [4, 199, 264], [5, 284, 419], [6, 439, 497], [7, 517, 636], [8, 657, 659], [9, 679, 830], [10, 850, 981], [11, 1001, 1225], [12, 1245, 1286], [13, 1306, 1311], [14, 1331, 1358], [15, 1378, 1531], [16, 1551, 1777], [17, 1798, 1831], [18, 1851, 1878], [19, 1898, 1958], [20, 1978, 2027], [21, 2039, 2114], [22, 2134, 2135], [23, 2155, 2176], [24, 2196, 2394], [25, 2414, 2622], [26, 2642, 2679]]

In [67]:
Trip_info_1=pd.DataFrame(Trip_info,columns=['Trip_ID',"Start_index","Stop_index"])

In [68]:
Trip_info_1

    Trip_ID  Start_index  Stop_index
0         1            0          97
1         2          108         124
2         3          144         179
3         4          199         264
4         5          284         419
5         6          439         497
6         7          517         636
7         8          657         659
8         9          679         830
9        10          850         981
10       11         1001        1225
11       12         1245        1286
12       13         1306        1311
13       14         1331        1358
14       15         1378        1531
15       16         1551        1777
16       17         1798        1831
17       18         1851        1878
18       19         1898        1958
19       20         1978        2027
20       21         2039        2114
21       22         2134        2135
22       23         2155        2176
23       24         2196        2394
24       25         2414        2622
25       26         2642        2679