In [226]:
# Basic libraries import
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib tk

In [107]:
# tkinter GUI import
import tkinter as tk1
from tkinter.filedialog import askopenfilename

In [41]:
# Debugger import library if required
from IPython.core.debugger import set_trace

In [217]:
# Import filename interactively
root = tk1.Tk()
#root.lift()
root.attributes("-topmost", True)
root.withdraw()
filename = askopenfilename()
root.destroy()

In [218]:
filename

'D:/Projects/App/Code/MB1A3GCDXLRFE0093_2020-6-25_2020-06-27.csv'

In [219]:
# Read the raw dataframe and read 'obu_timestamp' column as datetime format
data = pd.read_csv(filename,
                   parse_dates=['obu_timestamp'])

In [220]:
# Add an index column to the created dataframe
data.reset_index(level=0, inplace=True)

In [221]:
# Verify dataframe dtypes and column entries
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10572 entries, 0 to 10571
Columns: 120 entries, index to fuel_level
dtypes: datetime64[ns](1), float64(37), int64(78), object(4)
memory usage: 9.7+ MB

In [222]:
# Peep into the first 5 lines of data
data.head(5)

,index,S_No,obu_id,obu_timestamp,packet_sequence_id,p_frequency,latitude,longitude,altitude,heading,...,aft1_intake_nox,aft1_intake_nox_reading_stable,aft1_intermediate_gas,dpf1_regen_needed,low_adblue_level_warning,eng_requested_torque_limit,pf_actreginh_dueto,aftertreatment1_outlet_nox,vin,fuel_level
0,0,1,1911271039,2020-06-25 09:38:12,54373,6,22.482505,70.048158,21.44,0,...,3012.8,3,0.3,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0
1,1,2,1911271039,2020-06-25 09:38:18,54374,6,22.482505,70.048158,21.44,0,...,3012.8,3,0.5,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0
2,2,3,1911271039,2020-06-25 09:38:24,54375,6,22.482505,70.048158,21.44,0,...,3012.8,3,0.6,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0
3,3,4,1911271039,2020-06-25 09:38:30,54376,6,22.482505,70.048158,21.44,0,...,3012.8,3,0.4,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0
4,4,5,1911271039,2020-06-25 09:38:36,54377,6,22.482505,70.048158,21.44,0,...,3012.8,3,0.3,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0

In [223]:
data['BSFC_rating'] = 0

In [224]:
# BSFC zone rating
for rows in data.index: # loops through entire dataframe based on size
    #set_trace()
    ##
    if(data.engine_speed.iloc[rows]>2300):
        data.at[rows,'BSFC_rating'] = 1
    ##
    if((data.engine_speed.iloc[rows] < 2300) & 
       (data.engine_speed.iloc[rows] > 2100) &
       (data.actual_engine_percent_torque.iloc[rows] > 40)):
        data.at[rows,'BSFC_rating'] = 3
    if((data.engine_speed.iloc[rows] < 2300) & 
       (data.engine_speed.iloc[rows] > 2100) &
       (data.actual_engine_percent_torque.iloc[rows] < 40)):
        data.at[rows,'BSFC_rating'] = 1
    ##
    if((data.engine_speed.iloc[rows] < 2100) & 
       (data.engine_speed.iloc[rows] > 1900) &
       (data.actual_engine_percent_torque.iloc[rows] > 40)):
        data.at[rows,'BSFC_rating'] = 4
    if((data.engine_speed.iloc[rows] < 2100) & 
       (data.engine_speed.iloc[rows] > 1900) &
       (data.actual_engine_percent_torque.iloc[rows] < 40)):
        data.at[rows,'BSFC_rating'] = 1
    ##
    if((data.engine_speed.iloc[rows] < 1900) & 
       (data.engine_speed.iloc[rows] > 1200) &
       (data.actual_engine_percent_torque.iloc[rows] > 60)):
        data.at[rows,'BSFC_rating'] = 5
    if((data.engine_speed.iloc[rows] < 1900) & 
       (data.engine_speed.iloc[rows] > 1200) &
       (data.actual_engine_percent_torque.iloc[rows] < 60) &
       (data.actual_engine_percent_torque.iloc[rows] > 40)):
        data.at[rows,'BSFC_rating'] = 4
    if((data.engine_speed.iloc[rows] < 1900) & 
       (data.engine_speed.iloc[rows] > 1200) &
       (data.actual_engine_percent_torque.iloc[rows] < 40)):
        data.at[rows,'BSFC_rating'] = 1
    ##
    if((data.engine_speed.iloc[rows] < 1200) & 
       (data.engine_speed.iloc[rows] > 1000) &
       (data.actual_engine_percent_torque.iloc[rows] > 40)):
        data.at[rows,'BSFC_rating'] = 3
    if((data.engine_speed.iloc[rows] < 1200) & 
       (data.engine_speed.iloc[rows] > 1000) &
       (data.actual_engine_percent_torque.iloc[rows] < 40)):
        data.at[rows,'BSFC_rating'] = 1
    ##
    if((data.engine_speed.iloc[rows] < 1000) &
       (data.actual_engine_percent_torque.iloc[rows] > 40)):
        data.at[rows,'BSFC_rating'] = 2
    if((data.engine_speed.iloc[rows] < 1000) & 
       (data.actual_engine_percent_torque.iloc[rows] < 40) & 
       (data.actual_engine_percent_torque.iloc[rows] > 20)):
        data.at[rows,'BSFC_rating'] = 1
    if((data.engine_speed.iloc[rows] < 1000) & 
       (data.actual_engine_percent_torque.iloc[rows] < 20)):
        data.at[rows,'BSFC_rating'] = 3

In [252]:
# Check total instances of Igntion On and OFF
data['ignition_status'].value_counts()

1    9630
0     942
Name: ignition_status, dtype: int64

In [253]:
#-----------------------------
### No. of trips extractor 

# Variable initilization
trip_id = 1 
trip_info_list = [] 
start_index = 0 
stop_index = 0 
rows = 0 
x = 0 

for rows in data.index: # loops through entire dataframe based on size
    
        for rows in data.index[start_index:]:          # Loop through the subdataframe starting with the latest start index
            #set_trace()                               # Debugging sequence if reqd remove '#' and run for line by line debugging
            if(data['ignition_status'].iloc[rows] == 1): # Enter loop if Ingition ON is detected
                start_index = data['index'].iloc[rows]   # Assign the first index of satisfied condition for Ignition ON
                for x in data.index[rows:]:              # For this loop sequence determining the next instance of Ignition OFF
                    if(data['ignition_status'].iloc[x] == 0): # Stop at instance when Ignition is detected OFF
                        stop_index = data['index'].iloc[x]    # Store the index as latest stop index
                        break 
                if(start_index<=stop_index):                  # Proceed only if stop index is greater than start index
                    trip_info_temp=[trip_id,start_index,stop_index] # Temporary row list containing parameters
                    trip_info_list.append(trip_info_temp)     # Append to the trip info list
                    start_index=stop_index                   # Assign the latest stop index as the next start index to initiate next subdataframe
                    trip_id +=1 
                else:                                        # Force exit the entire loop, if start index greater than stop index, indicating the source dataframe does not end with Ignition OFF
                    break
                break 

print(trip_info_list)  # list all trip info in the current dataset

# ---------------------------

[[1, 0, 5], [2, 25, 35], [3, 55, 59], [4, 79, 83], [5, 103, 376], [6, 396, 810], [7, 830, 1821], [8, 1841, 3297], [9, 3317, 3354], [10, 3374, 3471], [11, 3487, 3500], [12, 3520, 3522], [13, 3543, 3551], [14, 3571, 3724], [15, 3744, 4511], [16, 4531, 4733], [17, 4753, 4916], [18, 4936, 5164], [19, 5184, 5193], [20, 5213, 5214], [21, 5234, 5261], [22, 5281, 5309], [23, 5329, 5331], [24, 5351, 5366], [25, 5386, 5401], [26, 5421, 5429], [27, 5449, 5558], [28, 5578, 5627], [29, 5628, 5653], [30, 5673, 5840], [31, 5860, 5958], [32, 5977, 5983], [33, 6003, 6215], [34, 6236, 6943], [35, 6964, 6979], [36, 6999, 7541], [37, 7562, 8332], [38, 8352, 8511], [39, 8531, 9011], [40, 9031, 9897], [41, 9917, 10038], [42, 10058, 10347], [43, 10367, 10370], [44, 10390, 10397], [45, 10418, 10467], [46, 10487, 10503], [47, 10544, 10552]]

In [254]:
trip_info_df = pd.DataFrame(trip_info_list,
                            columns=['Trip_ID', "Start_index", "Stop_index"
                                     ])  # Convert list to dataframe

In [255]:
trip_info_df.head(5) # Trip_info dataframe view

   Trip_ID  Start_index  Stop_index
0        1            0           5
1        2           25          35
2        3           55          59
3        4           79          83
4        5          103         376

In [256]:
print("Total trips undertaken:", trip_info_df['Trip_ID'].count())

Total trips undertaken: 47

In [257]:
trip={}

In [258]:
# Generate new dataframes with trip[trip_ID] for each trip_ID
for trips in trip_info_df.index:
    #set_trace()
    trip[trips] = data.iloc[trip_info_df.Start_index[trips]:trip_info_df.Stop_index[trips]]
    trip[trips].reset_index(inplace=True)
    trip[trips]= trip[trips].drop(axis=1,columns=['index','level_0'])

In [259]:
trip[3]

,S_No,obu_id,obu_timestamp,packet_sequence_id,p_frequency,latitude,longitude,altitude,heading,packet_status,...,aft1_intake_nox_reading_stable,aft1_intermediate_gas,dpf1_regen_needed,low_adblue_level_warning,eng_requested_torque_limit,pf_actreginh_dueto,aftertreatment1_outlet_nox,vin,fuel_level,BSFC_rating
0,80,1911271039,2020-06-25 12:00:36,54452,6,22.482613,70.047970,0.0,0,A,...,3,0.5,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0,1
1,81,1911271039,2020-06-25 12:00:42,54453,6,22.482589,70.047965,0.0,0,A,...,3,0.3,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0,3
2,82,1911271039,2020-06-25 12:00:48,54454,6,22.482549,70.047944,0.0,0,A,...,3,0.3,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0,3
3,83,1911271039,2020-06-25 12:00:54,54455,6,22.482534,70.047978,0.0,0,A,...,3,0.3,0,0,-125,0,0.0,MB1A3GCDXLRFE0093,185.0,3

In [262]:
def plot_trip_info(df):
    sns.pairplot(df,x_vars='wheel_based_speed',y_vars='engine_speed',hue='transmission_current_gear',size=5)
    sns.pairplot(df, x_vars='engine_speed', y_vars='actual_engine_percent_torque',hue='BSFC_rating',size=5)
    plt.title("Trip")
    plt.show()
    ## Summary trip calculations
    average_eng_speed = round(df['engine_speed'].mean(),0)
    average_veh_speed = round(df['wheel_based_speed'].mean(),0)
    red_zone_count = df[df['engine_speed']>2500].engine_speed.count()
    max_gear_util = round(df[df.transmission_current_gear>(df.transmission_current_gear.max()-1)].transmission_current_gear.sum()/df.transmission_current_gear.sum()*100,2)
    BSFC_rating_0=round(df[df['BSFC_rating']==0].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    BSFC_rating_1=round(df[df['BSFC_rating']==1].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    BSFC_rating_2=round(df[df['BSFC_rating']==2].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    BSFC_rating_3=round(df[df['BSFC_rating']==3].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    BSFC_rating_4=round(df[df['BSFC_rating']==4].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    BSFC_rating_5=round(df[df['BSFC_rating']==5].BSFC_rating.count()/df.BSFC_rating.count()*100,2)
    
    print("Average engine speed: ",average_eng_speed," rpm")
    print("Average vehicle speed: ",average_veh_speed," kmph")
    print("Red zone counts: ",red_zone_count," times")
    print("Max gear util: ",max_gear_util," %")
    print("BSFC zone 0 % :", BSFC_rating_0)
    print("BSFC zone 1 % :", BSFC_rating_1)
    print("BSFC zone 2 % :", BSFC_rating_2)
    print("BSFC zone 3 % :", BSFC_rating_3)
    print("BSFC zone 4 % :", BSFC_rating_4)
    print("BSFC zone 5 % :", BSFC_rating_5)

In [263]:
plot_trip_info(trip[4])

Average engine speed:  1193.0  rpm
Average vehicle speed:  21.0  kmph
Red zone counts:  0  times
Max gear util:  2.65  %
BSFC zone 0 % : 2.2
BSFC zone 1 % : 52.38
BSFC zone 2 % : 5.49
BSFC zone 3 % : 26.37
BSFC zone 4 % : 7.33
BSFC zone 5 % : 6.23